@media (max-width: 767px){
    .menu{
        padding: 0!important;
    }

    .cta{
        padding: 3% 4%!important;
    }

    .mylogo{
        margin-top: 3%!important;
        height: 45px;
        width: 65px;
        top: 0;
        left: calc(5%);
    }

    .logoText{
        font-size: 20px;
    }

    .coverCaptionCopy h1{
        font-size: 200%!important;
    }

    .section{
        justify-content: center!important;
        flex-wrap: wrap;
        margin: 5%!important;
        padding: 10%!important;
    }
    
    .img{
        max-width: 100%!important;
        margin-right: 0!important;
    }
}