body{
    background-color: #F7F7F7;
    color: #000;
    margin: 0;
    padding: 0;
}

/*titoli*/

.titolo_principale{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0
}

.titolo_principale_f{
    font-size: 60px;
    font-weight: bold;
}

.titolo_secondario{
    font-size: 50px;
    font-weight: bold;
}

/*header*/

.header{
    background-color: #0505C5;
    border-bottom: solid 1px #707070;
    top: 0;
    left: 0;
    font-family: 'Segoe UI';
    position: fixed;
    width: 100%
}

.logo{
    float: left;
    height: 60px;
    width: 60px;
}

.logo_image{
    width: 100px; 
    height: 100px;
    z-index: 100;
}

.list_menu{
    list-style: none;
}

.menu_principale{
    margin-left: 4%;
}

.menu_item{
    position: relative;
    float: left; 
    width: 11.5%;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px
}

.menu_item a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-decoration: none;
    padding: 15px 25px;
}

.menu_item a:hover{
    color: #fff;
    background-color: #000;
}

.second_menu_item{
    position: relative;
    float: right; 
    width: 11%;
    text-align: center;
    padding-top: 5px;
}

.second_menu_item a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-decoration: none;
    padding: 15px 25px;    
}

.second_menu_item a:hover{
    color: #fff;
    background-color: #000;
}

/*content*/

/*intro*/

.content{
    font-family: 'Segoe UI';
    margin-top: 120px
}

.intro{
    height: 700px;
}

.description{
    font-weight: regular;
    font-size: 30px;
    width: 60%;
}

.button{
    margin-top: 60px;
    font-family: 'Segoe UI';
}

.btn{
    text-decoration: none;
    color: #000;
    border: solid 1px #707070;
    border-radius: 48px;
    margin: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 40px
}

.btn:hover{
    background-color: #000;
    color: #fff
}

/*file principali*/

.file_principali{
    max-width: 60%;
    font-size: 19px
}

.file{
    border: #707070 solid 1px;
    padding: 10px;
    background-color: #fff;
}

.tag{
    color:#569CD6
}

.class{
    color: #9CDCFE
}

.attribute{
    color: #CE9178
}

.apici{
    color: #989898
}

.footer{
    border: solid 1px #707070;
    margin-top: 40px;
    font-family: 'Segoe UI';
    background-color: #fff;
}

.logo_fin{
    float: left;
    height: 60px;
    width: 60px;
    margin: auto 50px;
}

.footer_logo_image{
    width: 100px; 
    height: 100px;
    z-index: 100;
}

.copyright{
    text-align: center;
    border: solid 1px #707070;
    padding: 10px;
    font-weight: regular;
    font-size: 20px
}

/* clearfix */

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */

*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}